.main-content {
    display: flex;
    justify-content: flex-start;
}

.teams-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1em;
    background: #19398a;
    justify-content: space-between;
    flex-wrap: wrap;
}

.live-widget-container {
    display: flex;
    height: fit-content;
    width: 25%;
    padding: 1em;
    background: #5363bb;
    color: #ffffff;
    flex-direction: column;
}

#current-player-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#current-status-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}