.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: darkgray;
    grid-column: 1 / 4;
    height: auto;
}

.team {
    display: grid;
    margin: 10px;
    padding: 20px 20px 40px 20px;
    background: lightgray;
}

.centered {
    text-align: center;
}