.squad-item-container {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    width: 10em;
    border: 1px #ffffff solid;
    flex-direction: column;
}

.squad-item-fn {
    font-size: 1rem;
    margin: 0.1em auto 0 auto;
}

.squad-item-ln {
    font-size: 1rem;
    margin: 0 auto 0.1em auto;
    font-weight: bold;
}

.team {
    width: 100%;
    margin: 0.1em;
    display: flex;
    flex-direction: column;
}

.squad-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    flex-wrap: wrap;
}

.team-name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.remaining-balance {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5rem;
    font-weight: bold;
    width: fit-content;
    align-self: center;
    color: #000000;
    border-radius: 0.2rem;
    background-color: #ffb605;
}