.caption-title {
    font-size: large;
    background: black;
    color: white;
    padding: 10px;
    margin-bottom: 25px;
}

.container-current-item {
    display: grid;
    background: #9e9e9e;
    padding: 20px;
}

.td-right-aligned {
    text-align: end;
    font-weight: bold;
}

.tab-bordered {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.td-left-padding {
    padding-left: 10px;
}

.top-margin {
    margin-top: 10px;
}